.vjs-js {
  width: 100%;
}
.video-js .vjs-watermark-content {
  padding: 2%;
  max-width: 40%;
  max-height: 40%;
}

.video-js .vjs-watermark-content img {
  max-width: 100%;
  max-height: 100%;
}

.video-js button.vjs-big-play-button {
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:auto;
}

.video-js.vjs-waiting button.vjs-big-play-button {
  display: none;
}

.vjs-error-display {
  display: none;
}
